////////////////////////////////////////////////////////////
// COLORS

$black: #3A3A3A;
$dark-grey: #707070;
$light-grey: #C2C2C2;
$dark-white: #E5E5E5;
$light-green: #A3C145;
$orange: #EC9B20;

////////////////////////////////////////////////////////////
// Font Size

$font-14: 0.875rem;
$font-15: 0.938rem;
$font-16: 1rem;
$font-20: 1.250rem;
$font-25: 1.563rem;
$font-35: 2.188rem;
$font-40: 2.500rem;
$font-60: 3.750rem;
$font-90: 5.625rem;
