.section__title {
    color: $black;
    text-align: center;
    margin: 6.250rem 0 3.125rem 0;

    h2 {
        text-transform: uppercase;
        line-height: 1.6;
        font-size: $font-40;
    }

    p {
        line-height: 1.4;
        font-size: $font-16;
        background: transparent;
    }
}

.title--video {
    text-align: left;
    margin-top: 0;

    h2 {
        font-size: $font-40;
    }

    p {
        font-size: $font-20;
        width: 65%;
    }
}

@media only screen and (max-width: 1024px) {
    .title--video {
        text-align: center;
    
        h2 {
            font-size: $font-40;
        }
    
        p {
            font-size: $font-20;
            width: 100%;
        }
    }
}