.header {
    width: 100%;
    background-color: $black;
    z-index: 10;

    .header__info {
        position: relative;
        display: flex;
        justify-content: space-between;
        color: $light-grey;
        padding: 1rem 0 3.125rem 0;

        .info__contact {
            display: flex;
            justify-content: space-between;

            a {
                color: $light-grey;        
            }

            i{
                margin-right: 1rem;
            }

            .tel {
                margin-right: 4rem;
            }
        }

        
    }
}

@media only screen and (max-width: 1024px) {

    .header{
        .header__info {
            padding: 1rem 0;
            display: block;

            .info__contact{
                display: block;
                margin-left: auto;

                p{
                    text-align: right;
                    margin-bottom: .5rem;
                }

                .tel {
                    margin: 0
                }
            }
        }

        .info__adress {
            display: none;
        }
    }
}




