.container-fluid {
  padding: 0!important
  ;
}

.container {
max-width: 1500px!important;
margin: 0 auto!important;
padding: 0 50px!important;
}

html {
  font-size: 1rem;
}

@media only screen and (min-width: 768px){
  html {
    font-size: 2vw;
  }
}

@media only screen and (min-width: 1024px){
  html {
    font-size: 1vw;
  }
}

@media only screen and (min-width: 1250px){
  html {
    font-size: .8vw;
  }
}

@media only screen and (max-width: 426px) {
  .container {
    padding: 0 0.625rem!important;
  }
}